openapi: 3.0.1
info:
  title: Sample API
  description: "Optional multiline or single-line description in [CommonMark](http://commonmark.org/help/) or HTML."
  version: 1.0-SNAPSHOT
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"
servers:
  - url: http://xkcd.org/
    description: Optional server description, e.g. Main (production) server
paths:
  /info.0.json:
    get:
      operationId: get-last-review
      summary: Return last review.
      tags:
        - XkcdComicInfo
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/XkcdComicInfo'
  /{comicId}/info.0.json:  
    get:
      operationId: get-review-by-id
      summary: Return review by id.
      tags:
        - XkcdComicInfo
      parameters:
        - name: comicId
          in: path
          required: true
          description: <strong>ID</strong> of comicReview
          schema:
            type : integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/XkcdComicInfo'
        '404':
          description: Review was not found
components:
  schemas:
    XkcdComicInfo:
      properties:
        day:
          type: "integer"
        month:
          type: "integer"
        year:
          type: "integer"
        safe_title:
          type: "string"
        img:
          type: "string"    
tags:
  - name: XkcdComicInfo
    description: API around Xkcd Comic reviews
